body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.7em;
    letter-spacing: -0.025em;
    color: #222;
    visibility: visible !important;
}

.w-640 {
    width: 640px;
}

.m-auto {
    margin: auto;
}

.mb-50 {
    margin-bottom: 50px;
}

/* The divider under the navbar */

.full_divider {
    width: 100%;
    height: 0.8px;
    background: #eee;
}
