nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 0 10px 0;
}

.logo_navbar {
    color: #222;
}

.logo_navbar-link {
    color: #222;
    text-decoration: none;
}

/* two lists and their items */
/* Lists */
.lists_container {
    position: relative;
    display: flex;
}

.list_navbar {
    display: flex;
    list-style: none;
}

/* Items */

.list_navbar-item {
    color: #525252;
    font-size: 12.5px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    position: relative;

    padding: 7px 12px;

    transition: all ease-in 0.3s;
}

.list_navbar-item:hover {
    cursor: pointer;
    color: #222;
}

.list_navbar-item-icon {
    color: #222;

    font-weight: 900;
    font-size: 15px;

    margin-left: 13px;
    margin-right: 0;

    padding-right: 0;
    padding-left: 0;

    display: flex;
    align-items: center;
}

.list_navbar-item-icon-magnifier {
    margin-left: 0;
}

/* Input field in magifier item */

.list_navbar-item-input {
    border: none;
    color: #666;
    background-color: white;

    width: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    outline: none;

    transition: all 0.3s ease-in;
}

.input-show {
    width: 160px;

    padding-bottom: 3px;
    padding-right: 22px;
    padding-left: 11px;
}

/* The divider under the navbar */

.full_divider {
    width: 100%;
    height: 0.8px;
    background: #eee;
}

/* The dot under the header menu */

.list_navbar-span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    display: none;

    opacity: 0;
    visibility: hidden;
    transition: all ease-in 0.3s;

    background-color: #222;
}

.span-show {
    opacity: 1;
    visibility: visible;
    display: inline;
}
